<div class="container">
  <div class="grid">
    <div class="profile-grid">
      <div class="profile rounded">
        <div class="profile-picture">
          <img src="assets/img/image-jeremy.png" alt="" />
        </div>
        <div class="profile-text">
          <div class="profile-report">Report for</div>
          <div class="profile-name">Jeremy Robson</div>
        </div>
      </div>
      <div class="profile-filter rounded">
        <ul>
          <li>Daily</li>
          <li>Weekly</li>
          <li>Monthly</li>
        </ul>
      </div>
    </div>
    <app-grid-item [category]="'work'"></app-grid-item>
    <app-grid-item [category]="'play'"></app-grid-item>
    <app-grid-item [category]="'study'"></app-grid-item>
    <app-grid-item [category]="'exercise'"></app-grid-item>
    <app-grid-item [category]="'social'"></app-grid-item>
    <app-grid-item [category]="'self-care'"></app-grid-item>
    <app-grid-item [category]="'self-care'"></app-grid-item>
    <app-grid-item [category]="'self-care'"></app-grid-item>
    <app-grid-item [category]="'self-care'"></app-grid-item>
    <app-grid-item [category]="'self-care'"></app-grid-item>
    
  </div>
</div>
